.text-block{
    padding: 30px;
    color: #000;
}

.text-block h1{
    font: 400 16px "Ubuntu";
    color: #000;
    margin-bottom: 35px;
}

.text-block ul li:before{
    content: '– ';
    color: #8fc2e2;
}

.text-block ul li{
    margin-bottom: 26px;
    margin-left: 19px;
    line-height: 1.6;
}

.text-block p{
    margin-bottom: 32px;
}

.footer-middle__col_col3{
    width: 19.35%;
    position: relative;
    left: 26px;
    padding-top: 0;
}

.title-fix .inside-title{
    margin: 0;
    padding: 0;
}

.inside-title span > a, .title-fix span > a{
    display: inline !important;
}

.production-video iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    height: 87%;
}

.dealers-map .point{
    display: none;
}

#sucsess, #sucsess2{
    color: rgb(0, 134, 0);
    text-align: center;
}

.questionnaire-page #sucsess, .questionnaire-page #error{
    margin-top: 25px;
    display: none;
}

.captcha_img{float: right;}

.alert-form{
    display: none;
}

.model-page #table2{
    display: none;
}

.popup-form #sucsess, .popup-form #sucsess2{
    text-align: center;
    margin-top: 25px;
    min-width: 100%;
    display: none;
}

.contact-adress_wrap ul{
    width: 910px;
}

.contact-adress_wrap ul li{
    width: 275px;
    margin-right: 20px;
}

.adress-map_head-list li{
    float: left;
}

.filter_selection .group-search-2 #tab2, .filter_selection .group-search-2 #tab3{display: none;}

.filter_selection.search .group-search-3{
    padding-right: 60px;
}

.filter_selection .group-search-3 .radio-btn.border > div{
    margin-right: 5px;
}

.result_filter{
    padding-bottom: 0 !important;
}

.about-page-top .main-slider__item {background-position: top center!important;}

.main-news__overlay{height:35%;}

.table-characteristics .table-colum span{width: 12.5%;}

.news_images{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.news_images a{
    width: 48%;
    padding-bottom: 2.4%;
}

.news_images img{
    width: 95%;
}
.heart_transport .title-fix h1{
    color: #000;
}

.not-found{
    height: 512px;
    display: table;
    margin: 0 auto;
    text-align: center;
    font: 400 1vw/1.5 Ubuntu;
    color: #000;
}

.not-found .wrap{
    display: table-cell;
    vertical-align: middle;
}

.not-found h1{
    font: 700 4vw/2 Ubuntu;
    text-transform: uppercase;
    margin-top: 51px;
}

.not-found a{
    color: #000;
    text-decoration: underline;
}

.not-found a:hover{
    text-decoration: none;
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor{
  padding-right: 10px;
}

.date{margin: 20px 0 0 !important;}

.download{
    color: #000;
    margin-top: 10px;
}
.table-characteristics ul.table-model .td1{
    font-weight: 800;
}
.main-news__overlay{
    font-size: 0.8vw;
    line-height: 1.5;
}
@media (max-width: 1280px){
    .main-news__overlay{
        font-size: 1.2vw !important;
    }
}
@media (max-width: 1480px){
    .main-news__overlay{
        font-size: 0.7vw;
    }
}
.main-news .main-news__overlay{
    font-size: 16px !important;
}

.additional-text ul{
    list-style: outside;
}

.footer-bottom__copy{
    width: 88%;
}

.footer-bottom__made-in{
    margin-top: 7px;
}

.popup-form .captcha-form input{
    width: 250px;
}

.popup-form #error_capthca{
    min-width: auto;
    width: 100%;
    padding: 10px 0px 0px;
}
