.text-block{
    padding: 30px;
    color: #000;
}

.text-block h1{
    font: 400 16px "Ubuntu";
    color: #000;
    margin-bottom: 35px;
}

.text-block ul li:before{
    content: '– ';
    color: #8fc2e2;
}

.text-block ul li{
    margin-bottom: 26px;
    margin-left: 19px;
    line-height: 1.6;
}

.text-block p{
    margin-bottom: 32px;
}

.footer-middle__col_col3{
    width: 19.35%;
    position: relative;
    left: 26px;
    padding-top: 0;
}

.title-fix .inside-title{
    margin: 0;
    padding: 0;
}

.inside-title span > a{
    display: inline !important;
}

.production-video iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    height: 87%;
}

.dealers-map .point{
    display: none;
}

#sucsess, #sucsess2{
    color: rgb(0, 134, 0);
    text-align: center;
}

.questionnaire-page #sucsess, .questionnaire-page #error{
    margin-top: 25px;
    display: none;
}

.model-page #table2{
    display: none;
}

.popup-form #sucsess, .popup-form #sucsess2{
    text-align: center;
    margin-top: 25px;
    min-width: 100%;
    display: none;
}

.contact-adress_wrap ul{
    width: 910px;
}

.contact-adress_wrap ul li{
    width: 275px;
    margin-right: 20px;
}

.adress-map_head-list li{
    float: left;
}
